<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quicky - url shortener</title>
    <link rel="stylesheet" href="/css/app.css">
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132327493-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-132327493-3');
    </script>
</head>

<body>
    <div id="app">
        <app></app>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>